[submodule "third_party/basictypes"]
	path = third_party/basictypes
	url = https://github.com/VirtualLib/basictypes.git
[submodule "third_party/dynamic_library"]
	path = third_party/dynamic_library
	url = https://github.com/VirtualLib/dynamic_library.git
